/*#region IMPORTS*/ /*#region COLOR DEFAULT*/
/*#endregion*/
/*#endregion*/
/*#region DEFAULT*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.container {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.success {
  color: #49e749;
}

.warning {
  color: #e5ee66;
}

.danger {
  color: #ff6666;
}

/*#endregion*/
/*#region Header*/
header {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: #1a1a1a;
}
header .burger {
  display: none;
}
header .title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
header .title a {
  color: #cecece;
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
}
header .menu > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 120px;
  border-bottom: 5px solid transparent;
}
header .menu > ul li > a {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 120px;
  color: #cecece;
}
header .menu > ul li > a:hover {
  color: #1a1a1a;
  background-color: #cecece;
  border-bottom: 5px solid #3b3b3b;
  transition: 400ms;
}

/*#endregion*/
/*#region Banner*/
#banner {
  background: #101010;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 10px;
}
#banner .elements {
  padding-top: 50px;
  display: flex;
}
#banner .elements .texts {
  margin: auto 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #cecece;
}
#banner .elements .texts h1 {
  font-size: 66px;
}
#banner .elements .texts h2 {
  font-size: 33px;
}
#banner .elements .texts button {
  margin-top: 20px;
  height: 60px;
  width: 120px;
  border: 2px solid #cecece;
  border-radius: 4px;
  background-color: transparent;
}
#banner .elements .texts button a {
  text-decoration: none;
  color: #cecece;
}
#banner .elements .texts button a p {
  font-size: 15px;
  text-transform: uppercase;
}
#banner .elements .texts button:hover {
  transition: 400ms;
  background-color: #cecece;
}
#banner .elements .texts button:hover p {
  color: #030303;
}

/*#endregion*/
/*#region About Me*/
#aboutMe {
  min-height: 150vh;
  background: #101010;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
#aboutMe .elements {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#aboutMe .elements .profImg > img {
  margin-top: 75px;
  height: 250px;
  border-radius: 50%;
}
#aboutMe .elements .profItems {
  text-align: justify;
}
#aboutMe .elements .profItems .title {
  color: #cecece;
  font-size: 25px;
}
#aboutMe .elements .profItems .smBtn {
  padding: 30px;
  display: flex;
  justify-content: center;
}
#aboutMe .elements .profItems .smBtn button {
  height: 45px;
  width: 150px;
  border-radius: 5px;
  background: transparent;
  margin: 20px;
  border: 2px solid #cecece;
}
#aboutMe .elements .profItems .smBtn button a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #cecece;
}
#aboutMe .elements .profItems .smBtn button a i {
  font-size: 30px;
}
#aboutMe .elements .profItems .smBtn button a p {
  padding: 10px;
}
#aboutMe .elements .profItems .smBtn button:hover {
  transition: 400ms;
  background: #cecece;
}
#aboutMe .elements .profItems .smBtn button:hover a, #aboutMe .elements .profItems .smBtn button:hover i, #aboutMe .elements .profItems .smBtn button:hover p {
  color: #030303;
}
#aboutMe .elements .profItems .descr {
  color: #cecece;
}

/*#endregion*/
@keyframes lampWink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  65% {
    opacity: 0.45;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 608px) {
  header {
    display: flex;
  }
  header .menu {
    display: none;
  }
  header .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  header .burger .bar {
    height: 5px;
    width: 35px;
    margin: 5px;
    background: #cecece;
    border-radius: 2px;
  }
  #banner {
    height: 120vh;
  }
  #banner .elements {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #banner .elements .lottie > lottie-player {
    margin-top: 50px;
    height: 400px;
    width: 400px;
  }
  #banner .elements .texts {
    text-align: center;
  }
  #banner .elements .texts h1 {
    font-size: 42px;
  }
  #banner .elements .texts h2 {
    font-size: 24px;
  }
  #banner .elements .texts button {
    height: 45px;
    width: 180px;
  }
  #banner .elements .texts button a > p {
    padding: auto;
    font-size: 15px;
  }
  #aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
