/*#region COLOR DEFAULT*/
//1. default
$def-light: #cecece;

$def-prim-color: #1a1a1a;
$def-secn-color: #3b3b3b;
$def-tert-color: #101010;

$success: #49e749;
$warning: #e5ee66;
$danger: #ff6666;


/*#endregion*/