@import './colors.scss';

/*#region Default Stylizing*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  font-family: 'segoe ui';
}

.success {
  background-color: $success;
}

.warning {
  background-color: $warning;
}

.danger {
  background-color: $danger;
}

.undone {
  background-color: $def-prim-dark;
}

/*#endregion*/

/*#region Header*/
header {
  .nav {
    width: 100%;
    background-color: $def-prim-dark;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 100;
    color: $def-light;
  }

  .nav>.nav-header {
    display: inline;
  }

  .nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 1.5rem;
    color: #fff;
    padding: 10px 10px 10px 10px;

    a {
      color: $def-light;
    }
  }

  .nav>.nav-btn {
    display: none;
  }

  .nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    border-left: 5px solid transparent;
  }

  .nav>.nav-links>a {
    display: inline-block;
    padding: 13px 20px 13px 20px;
    text-decoration: none;
    color: #efefef;
    border-left: 5px solid transparent;
  }

  .nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transition: 400ms ease;
    border-left: 5px solid $def-secn-dark;
  }

  .nav>#nav-check {
    display: none;
  }
}

/*#endregion*/

/*#region Banner*/
#banner {
  background: $def-tert-dark;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  .elements {
    padding-top: 50px;
    display: flex;

    .lottie {
      margin-top: 100px;
    }

    .texts {
      margin: auto 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $def-light;

      h1 {
        font-size: 66px;
      }

      h2 {
        font-size: 33px;
      }

      button {
        margin-top: 20px;
        height: 60px;
        width: 120px;
        border: 2px solid $def-light;
        border-radius: 10px;
        background-color: transparent;

        a {
          text-decoration: none;
          color: $def-light;

          p {
            font-size: 15px;
            text-transform: uppercase;
          }
        }

        &:hover {
          transition: 400ms;
          background-color: $def-light;

          p {
            color: $def-darks;
          }
        }
      }
    }
  }
}

/*#endregion*/

/*#region About Me*/
#aboutMe {
  min-height: 100vh;
  background: $def-tert-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  .elements {
    width: 100%;
    display: flex;
    margin-top: 150px;
    margin-bottom: 300px;

    .profImg {
      width: 30%;
      margin: auto;

      img {
        width: 80%;
        border-radius: 50%;
      }
    }

    .profItems {
      width: 70%;
      margin: auto;
      color: $def-light;

      .title>h1 {
        font-size: 75px;
        font-weight: 300;
      }

      #linkedin {
        margin-left: 10px;
      }

      .smBtn>button {
        margin: 20px auto;
        width: 150px;
        height: 50px;
        border: 2px solid $def-light;
        border-radius: 10px;
        background: transparent;

        a {
          color: $def-light;
          display: flex;
          justify-content: space-around;
          align-items: center;
          text-decoration: none;

          i {
            font-size: 30px;
          }

          p {
            text-align: justify;
            font-size: 15px;
          }
        }

        &:hover {
          transition: 400ms;
          background: $def-light;

          a,
          i,
          p {
            color: $def-darks;
          }
        }
      }

      .descr {
        font-size: 12px;

        p {
          margin-top: 10px;
        }
      }
    }
  }
}

/*#endregion*/

/*#region Skills*/
#skills {
  min-height: 100vh;
  background: $def-quat-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  .elements {
    display: block;

    .title {
      font-size: 50px;
      margin-top: 150px;
      text-align: center;

      h1 {
        font-weight: 300;
        color: $def-light;
      }
    }

    .card-list {
      margin-top: 50px;
      margin-bottom: 150px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .card {
        height: 200px;
        width: 200px;
        background: $def-secn-dark;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .card-head>i {
          font-size: 75px;
          margin-top: 10px;
        }

        .card-body {
          width: 75%;
          display: flex;
          margin-top: 45px;
          gap: 5px;

          .bar {
            height: 5px;
            width: 40px;
            border-radius: 5px;
          }
        }
      }
    }
  }

}

/*#endregion*/

/*#region My Experiences*/
#myXp {
  background: $def-tert-dark;
  min-height: 100vh;
  display: flex;

  .elements {
    padding-top: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: $def-light;
    min-height: auto;

    .xp-title {
      width: 35%;
      padding: 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5em;

      h1 {
        font-size: 3em;
        font-weight: 200;
      }

      i {
        font-size: 3em;
      }
    }

    .xp-lists {
      display: inline-block;
      margin-top: 4em;
      width: 65%;

      .xp-card {
        padding: 10px;

        .card-title {
          display: flex;
          align-items: center;
          margin: 1.5em auto;
          gap: 1em;
        }

        .card-time {
          display: flex;
          align-items: center;
          margin: 2em auto;
          gap: 1em;
        }

        .card-descr>p {
          text-align: justify;
        }
      }
    }
  }


}

/*#endregion*/

/*#region Projects*/
#projects {
  min-height: 100vh;
  background: $def-quat-dark;
  color: $def-light;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: auto;
  padding: 5em 2.5em;

  .elements {
    display: flex;
    flex-direction: column;

    .title>h1 {
      padding: auto;
      font-size: 90px;
      font-weight: 100;
    }

    .descr>p {
      padding: auto;
      font-size: 20px;
    }

    .projCards {
      padding-top: 5em;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 25px;

      .card {
        height: 600px;
        width: 350px;
        background: $def-prim-dark;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        color: $def-light;

        .card-head>img {
          height: 30%;
          height: 245px;
          width: 100%;
          padding: 20px;
          border-radius: 15px;
        }

        .card-body {
          height: 40%;
          padding: 15px;

          h3 {
            font-size: 35px;
            text-align: center;
          }

          p {
            margin-top: 15px;
            font-size: 12px;
            padding: 10px;
          }
        }

        .card-footer {
          height: 30%;
          display: flex;
          justify-content: space-between;
          padding: 25px;
          gap: 20px;

          a {
            text-decoration: none;
            height: 50px;
            width: 150px;
            background-color: #000;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            font-size: 12px;

            &:hover {
              background: $def-quat-dark;
              transition: 400ms ease;
              color: $def-light;

            }
          }
        }
      }
    }
  }
}

/*#endregion*/

/*#region Footer*/
footer {
  min-height: 120px;
  background: $def-prim-dark;
  display: flex;
  justify-content: space-between;
  

  .items {
    color: $def-light;
    padding: 40px;
    width: 100%;
    display: flex;

    .content {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 50%;
    }

    .copyright {
      height: 100%;
      width: 50%;
      text-align: justify;
    }
  }
}

/*#endregion*/

/*#region Media*/
@media (max-width: 768px) {
  header {
    #btn-mobile {
      display: block;
    }

    #menu {
      display: none;
    }

    #nav.active #menu {
      display: flex;
    }
  }

  #banner {
    height: 120vh;

    .elements {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .lottie>lottie-player {
        margin-top: 50px;
        width: 100%;
      }

      .texts {
        text-align: center;

        h1 {
          font-size: 42px;
        }

        h2 {
          font-size: 24px;
        }

        button {
          height: 45px;
          width: 180px;

          a>p {
            padding: auto;
            font-size: 15px;
          }


        }
      }
    }
  }

  #aboutMe {
    padding-top: 150px;

    .elements {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      .profImg {
        padding: auto;

        img {
          width: 100%;
        }
      }

      .profItems>.title h1 {
        font-size: 60px;
      }

      .profItems>.smBtn {
        display: flex;
      }

      .profItems>.descr {
        text-align: justify;
      }
    }
  }

  #skills {
    .elements>.title>h1 {
      font-size: 45px;
    }
  }

  #myXp {
    .elements {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 50px;

      .xp-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  #projects {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5em 2.5em;

    .elements {
      .title>h1 {
        font-size: 65px;
        font-weight: 100;
        text-align: center;
      }

      .descr>p {
        text-align: center;
      }
    }
  }

  footer {
    .items {
      flex-direction: column;
      align-items: center;
      text-align: center;

      .copyright {
        margin-top: 50px; 
      }
    }
  }
}

@media (max-width:678px) {
  header {
    .nav {
      display: block;
      justify-content: center;
      align-items: center;
      height: 50px;
    }

    .nav>.nav-header> {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      .nav-title {
        display: grid;
        justify-content: flex-start;
        align-items: center;

        a {
          font-size: 9px;
          font-weight: bolder;
        }
      }
    }

    .nav>.nav-btn {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      right: 0px;
      top: 0px;
    }

    .nav>.nav-btn>label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
      justify-content: center;
      align-items: center;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
      background-color: rgba(8, 8, 8, 0.9);
      transition: 400ms ease;
    }

    .nav>.nav-btn>label>span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }

    .nav>.nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: rgba(8, 8, 8, 0.9);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      right: 0px;
    }

    .nav>.nav-links>a {
      display: block;
      width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
      height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
}

/*#endregion*/