/*#region IMPORTS*/
@import "./colors.scss";
/*#endregion*/

/*#region DEFAULT*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.container {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.success {
  color: $success;
}
.warning {
  color: $warning;
}
.danger {
  color: $danger;
}
/*#endregion*/
